<script>
$(document).ready(function() {
	$("span").hide();
	$("button").click(function(){
		$("span").toggle();	
	});
});
</script>

<div class="col-xs-10 col-xs-offset-1">
<button type="button" class="btn btn-primary btn-lg">Toggle Scores!</button>
</div>
<br />
	<% @fixtures.each do |fixture| %>
		<div class="fixtures-box col-xs-10 col-xs-offset-1">
			<h3><%= fixture.league %></h3>
			<p><%#= fixture.match_time %></p>
			<tr>
			<td><%= fixture.home_team %></td>
			<span id="score">
			<td><b><%= fixture.home_score %> - </b></td><td><b><%= fixture.away_score %></b></td>
			</span>
			<td><%= fixture.away_team %></td>
			</tr>
		</div>
	<% end %>
