<!DOCTYPE html>
<html>
<head>
  <title>Asokwa Soccer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div class="col-xs-3 logo">
			<%= link_to 'ASOKWA SOCCER', root_path %>
		</div>
		<div class="col-xs-4 slogan">
			Your ultimate destination for intriguing soccer news!
		</div>
		<div class="col-xs-5 links">
      <%= link_to 'Add News Story', new_article_path %>
      <%= link_to 'About', '#' %>
    </div>
	</header>
	<hr />

	<br class="clear" />

<%= yield %>

</body>
</html>
